@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* Content */

.background .content {
    max-width: 750px;
    position: relative;
    text-align: center;
}
.background .content h2 {
    font-size: 50px;
    color: #ffffff;
}
.background .content p {
    font-size: 30px;
    color: #ffffff;
}

.background .contact {
    padding-top: 36px;
}

/* Logo */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height:100px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    display: block;
    margin: auto;
    width: 512px;
    max-width: 100vw;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.fadeIn {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Buttons */

.background a {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    border-radius: 60px;
    background: linear-gradient(80deg, #E3E3E3, #9E9E9E);
}

.background a:nth-of-type(2) {
    color: #ffffff;
    background: linear-gradient(80deg, #2360BD, #646ED5);
}

.background a{
    transition:0.4s;
}

.background a:hover{
    transform:scale(1.1);
    z-index:5;
}
/* Pixel Waves */

section {
    height: 100vh;
    overflow: hidden;
}
section .Wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(assets/images/wave.svg);
    background-size: 500px;
    z-index: -1;
    margin: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

section .Wave.Wave1 {
    animation: animate 20s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .Wave.Wave2 {
    animation: animate 15s linear infinite;
    animation-direction: reverse;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .Wave.Wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
section .Wave.Wave4 {
    animation: animate 5s linear infinite;
    animation-direction: reverse;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% { background-position-x: 0px; }
    100% { background-position-x: 500px; }
}

#nucleoidLogo{
    width:100%;
}
