{% extends "base.html" %}

{% block og %}
<meta property="og:title" content="Nucleoid">
<meta property="og:description" content="404">
<meta property="og:image" content="{{config.base_url}}/assets/images/nucleoid_icon.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:alt" content="Nucleoid's logo">
<meta property="og:image:width" content="256">
<meta property="og:image:height" content="256">
{% endblock og %}

{% block head %}
<link rel="stylesheet" type="text/css" href={{ get_url(path="404.css") }}>
{% endblock head %}

{% block body %}
<div id="message">
  <img style="margin:20px" src="{{get_url(path='assets/images/404_tater.png')}}">
  <div>
    <p style="font-size:40px;text-align:center;">404: Not Found</p>
    <p style="font-size:20px;">That is quite irritater.</p>
  </div>
</div>
<div id="footer">
  <a href="https://github.com/FabricMC/community/blob/main/LICENSE.md">
    <p style="font-size:16px">"Irritater" licensed by FabricMC under CC-BY 4.0</p>
  </a>
</div>
{% endblock body %}
