<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nucleoid</title>
    <meta charset="UTF-8">
    <meta property="og:site_name" content="Nucleoid">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{current_url}}">
    {% block og %} {% endblock %}
    <meta http-equiv="X-Clacks-Overhead" content="GNU Amelia 'SynthRose'" />
    <link rel="stylesheet" type="text/css" href={{ get_url(path="base.css") }}>
    {% block head %} {% endblock %}
</head>

<body>
    {% block body %} {% endblock %}
</body>

</html>