{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href={{ get_url(path="blog.css") }}>
<meta property="og:url" content="{{current_url}}">
{% endblock head %}

{% block body %}
<div id="root">
  <img src="{{get_url(path='assets/images/background.png')}}" id="background">
  <div id="header">
    <a href="{{config.base_url}}">
      <img src="{{get_url(path='assets/images/nucleoid_logo.png')}}" alt="Nucleoid's logo" id="logo" class="sharp">
    </a>
  </div>
  <div id="content">
    {% block content %} {% endblock %}
  </div>
</div>
{% endblock body %}
