{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="index.css">
<meta name="viewport" content="width=device-width, initial-scale=0.8">
{% endblock head %}

{% block body %}
<img src="assets/images/background.png" alt="A screenshot of the Nucleoid Minecraft server" id="background">

<div class="root">
  <div class="header">
    <img src="assets/images/nucleoid_logo.png" alt="Nucleoid's logo" id="nucleoidLogo" class="sharp">
  </div>

  <div class="content">
    <div class="fadeIn" style="text-align:center; font-size:2vmax;">
      {{ section.content | safe }}
    </div>

    <p class="fadeIn contact" style="text-align:center; font-size:2vmax;">
      Or you can find us on: <br>
      <a href="https://github.com/NucleoidMC" style="font-size:2vmax;">GitHub</a>
      <a href="https://nucleoid.xyz/discord" style="font-size:2vmax;">Discord</a>
    </p>

    <h1 class="fadeIn">The Games</h1>
    <div class="games">
      <div class="carousel">
        <span class="control prev">&lt;</span>
        <span class="control next">&gt;</span>
        <div class="scroller">
          {% for page in section.pages %}
          <div class="item">
            <div class="header">
              <h2>{{ page.title }}</h2>
              <img src="{{ page.extra.header | safe }}"/>
            </div>
            <div class="desc">
                {{page.content | safe}}
            </div>
            <div class="contributors" style="margin-top: auto;">
              {% for contributor in page.extra.contributors %}
              <div class="contributor">
                <img src="https://crafatar.com/avatars/{{contributor.minecraft}}?overlay=true&size=8" class="sharp"/>
                <h3>{{ contributor.name }}</h3>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  
    <h1 class="fadeIn">The People</h1>
    <div class="contributors">
      {% for contributor in section.extra.contributors %}
      <div class="contributor">
        <img src="https://crafatar.com/avatars/{{contributor.minecraft}}?overlay=true&size=8" class="sharp"/>
        <h3>{{ contributor.name }}</h3>
      </div>
      {% endfor %}
    </div>
    <script src="carousel.js"></script>
  </div>
</div>
{% endblock body %}